<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>HealthCoach</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="{{ asset('front/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js')}}"></script><link rel="icon" href="{{ asset('front/images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('front/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('front/css/fonts.css')}}">
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="{{ asset('front/images/ie8-panel/warning_bar_0000_us.jpg')}}" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="{{ asset('front/js/html5shiv.min.js')}}"></script>

    <![endif]-->
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="preloader">
    <div>
        <div class="page-loader-body">
            <div class="cssload-loader">
                <div class="cssload-inner cssload-one"></div>
                <div class="cssload-inner cssload-two"></div>
                <div class="cssload-inner cssload-three"></div>
            </div>
        </div>
    </div>
</div>
<div class="page text-center">
    <!-- Page Header-->
    <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="90px">
                <div class="rd-navbar-inner">
                    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
                    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
                    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
                    <meta name="author" content="PIXINVENT">
                    <title>Dashboard eCommerce - Robust - Responsive Bootstrap 4 Admin Dashboard Template for Web Application</title>
                    <link rel="apple-touch-icon" href="{{ asset('back/images/ico/apple-icon-120.png')}}">
                    <link rel="shortcut icon" type="image/x-icon" href="back/images/ico/favicon.ico">
                    <link href="{{ asset('back/fonts/css.css')}}" rel="stylesheet">
                    <!-- BEGIN VENDOR CSS-->
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/css/vendors.min.css')}}">
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/vendors/css/charts/jquery-jvectormap-2.0.3.css')}}">
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/vendors/css/charts/morris.css')}}">
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/vendors/css/extensions/unslider.css')}}">
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/vendors/css/weather-icons/climacons.min.css')}}">
                    <!-- END VENDOR CSS-->
                    <!-- BEGIN ROBUST CSS-->
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/css/app.min.css')}}">
                    <!-- END ROBUST CSS-->
                    <!-- BEGIN Page Level CSS-->
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/css/core/menu/menu-types/vertical-menu.min.css')}}">
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/css/core/colors/palette-gradient.min.css')}}">
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/css/core/colors/palette-gradient.min.css')}}">
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/css/plugins/calendars/clndr.min.css')}}">
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/fonts/meteocons/style.min.css')}}">
                    <!-- END Page Level CSS-->
                    <!-- BEGIN Custom CSS-->
                    <link rel="stylesheet" type="text/css" href="{{ asset('back/css/style.css')}}">
                    <!-- END Custom CSS-->
                    </head>
                    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">

                    <!-- fixed-top-->
                    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
                        <div class="navbar-wrapper">
                            <div class="navbar-container content">
                                <div class="collapse navbar-collapse" id="navbar-mobile">
                                    <ul class="nav navbar-nav mr-auto float-left">

                                    </ul>
                                    <ul class="nav navbar-nav float-right">
                                        <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-gb"></i><span>English</span><span class="selected-language"></span></a>
                                            <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-gb"></i> English</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> Chinese</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> German</a></div>
                                        </li>
                                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i><span class="badge badge-pill badge-default badge-danger badge-default badge-up">5</span></a>
                                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                                <li class="dropdown-menu-header">
                                                    <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6><span class="notification-tag badge badge-default badge-danger float-right m-0">5 New</span>
                                                </li>
                                                <li class="scrollable-container media-list w-100"><a href="javascript:void(0)">
                                                        <div class="media">
                                                            <div class="media-left align-self-center"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading">You have new order!</h6>
                                                                <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">30 minutes ago</time></small>
                                                            </div>
                                                        </div></a><a href="javascript:void(0)">
                                                        <div class="media">
                                                            <div class="media-left align-self-center"><i class="ft-download-cloud icon-bg-circle bg-red bg-darken-1"></i></div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading red darken-1">99% Server load</h6>
                                                                <p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Five hour ago</time></small>
                                                            </div>
                                                        </div></a><a href="javascript:void(0)">
                                                        <div class="media">
                                                            <div class="media-left align-self-center"><i class="ft-alert-triangle icon-bg-circle bg-yellow bg-darken-3"></i></div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading yellow darken-3">Warning notifixation</h6>
                                                                <p class="notification-text font-small-3 text-muted">Vestibulum auctor dapibus neque.</p><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                                            </div>
                                                        </div></a><a href="javascript:void(0)">
                                                        <div class="media">
                                                            <div class="media-left align-self-center"><i class="ft-check-circle icon-bg-circle bg-cyan"></i></div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading">Complete the task</h6><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Last week</time></small>
                                                            </div>
                                                        </div></a><a href="javascript:void(0)">
                                                        <div class="media">
                                                            <div class="media-left align-self-center"><i class="ft-file icon-bg-circle bg-teal"></i></div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading">Generate monthly report</h6><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Last month</time></small>
                                                            </div>
                                                        </div></a></li>
                                                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all notifications</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-mail"></i><span class="badge badge-pill badge-default badge-info badge-default badge-up">5              </span></a>
                                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                                <li class="dropdown-menu-header">
                                                    <h6 class="dropdown-header m-0"><span class="grey darken-2">Messages</span></h6><span class="notification-tag badge badge-default badge-warning float-right m-0">4 New</span>
                                                </li>
                                                <li class="scrollable-container media-list w-100"><a href="javascript:void(0)">
                                                        <div class="media">

                                                            <div class="media-left"><span class="avatar avatar-sm avatar-online rounded-circle">
                                                                    <img src="{{ asset('back/images/portrait/small/avatar-s-19.png')}}" alt="avatar"><i></i></span>
                                                            </div>

                                                            <div class="media-body">
                                                                <h6 class="media-heading">Margaret Govan</h6>
                                                                <p class="notification-text font-small-3 text-muted">I like your portfolio, let's start.</p><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                                            </div>
                                                        </div></a><a href="javascript:void(0)">
                                                        <div class="media">
                                                            <div class="media-left"><span class="avatar avatar-sm avatar-busy rounded-circle"><img src="{{ asset('back/images/portrait/small/avatar-s-2.png')}}" alt="avatar"><i></i></span></div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading">Bret Lezama</h6>
                                                                <p class="notification-text font-small-3 text-muted">I have seen your work, there is</p><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Tuesday</time></small>
                                                            </div>
                                                        </div></a><a href="javascript:void(0)">
                                                        <div class="media">
                                                            <div class="media-left"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="{{ asset('back/images/portrait/small/avatar-s-3.png')}}" alt="avatar"><i></i></span></div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading">Carie Berra</h6>
                                                                <p class="notification-text font-small-3 text-muted">Can we have call in this week ?</p><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Friday</time></small>
                                                            </div>
                                                        </div></a><a href="javascript:void(0)">
                                                        <div class="media">
                                                            <div class="media-left"><span class="avatar avatar-sm avatar-away rounded-circle"><img src="{{ asset('back/images/portrait/small/avatar-s-6.png')}}" alt="avatar"><i></i></span></div>
                                                            <div class="media-body">
                                                                <h6 class="media-heading">Eric Alsobrook</h6>
                                                                <p class="notification-text font-small-3 text-muted">We have project party this saturday.</p><small>
                                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">last month</time></small>
                                                            </div>
                                                        </div></a></li>
                                                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all messages</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-user nav-item">
                                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    <span class="avatar avatar-online">
                                                    <img src="{{ asset(app.user.imageprofileurl)}}" alt="avatar"><i></i>
                                                </span><span class="user-name">{{ app.user.nom }} {{ app.user.prenom }}</span>
                                                {% else %}
                                                    <a href="{{ path('app_login') }}">  <button type="button" class="btn btn-success">login</button></a>


                                                {% endif %}

                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="user-profile.html"><i class="ft-user"></i> Mon Profil</a>
                                                <a class="dropdown-item" href="email-application.html"><i class="ft-mail"></i> MInbox</a>
                                                <a class="dropdown-item" href="user-cards.html"><i class="ft-check-square"></i> Task</a>
                                                <a class="dropdown-item" href="chat-application.html"><i class="ft-message-square"></i> Chats</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{{ path('app_logout')}}"><i class="ft-power"></i> Se déconnecter</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>

                    <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <li class="active"><a href="{{ path('home_front') }}">Home</a>
                                <!-- RD Navbar Dropdown-->

                            </li>
                            <li><a href="{{ path('afficherplatfrontall') }}">Nutriton</a>
                                <!-- RD Navbar Dropdown-->
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="{{ path('afficherplatfrontall') }}">tout les plat</a></li>
                                    <li><a href="{{ path('Proportions') }}">calculer nourriture</a></li>
                                    <li><a href="{{ path('statintake',{'choix':1 }) }}">statistique nourriture</a></li>

                                </ul>
                            </li>
                            <li><a href="{{ path('docadmin_back') }}">backend</a>

                            </li>
                            <li><a href="{{ path('user_profileUser') }}">Profil</a>
                                <!-- RD Navbar Dropdown-->
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="{{ path('user_profileUser') }}">Votre profil</a></li>
                                    <li><a href="{{ path('afficherFicheFront') }}">Vos fiches consultations</a></li>
                                </ul>
                            </li>


                                <!-- RD Navbar Dropdown-->
                                <ul class="rd-navbar-dropdown">
{#                                    <li><a href="group-coaching.html">Group Coaching</a></li>#}
{#                                    <li><a href="welness.html">Wellness</a></li>#}
                                </ul>
                            </li>
                            <li><a href="{{ path('user_DisplayChallenges') }}">Défis</a></li>
{#                            <li><a href="blog_post_index_admin.html">blog</a></li>#}
                            <li><a href="{{ path('blog_post_index') }}">Blog</a>

                            </li>
                            <li><a href="resources.html">Resources</a></li>
                            <li><a href="shop-category.html">Shop</a>
                                <!-- RD Navbar Dropdown-->
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="shop-category.html">Shop Category</a></li>
                                    <li><a href="shop-single-product.html">Shop Single Product</a></li>
                                    <li><a href="shop-cart.html">Shop Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-me.html">Contact me</a></li>
                            <li><a href="#">Pages</a>
                                <!-- RD Navbar Megamenu-->
                                <div class="rd-navbar-megamenu">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <p>Elements</p>
                                            <ul>
                                                <li><a href="typography.html">Typography</a></li>
                                                <li><a href="buttons.html">Buttons</a></li>
                                                <li><a href="forms.html">Forms</a></li>
                                                <li><a href="grid.html">Grid</a></li>
                                                <li><a href="progress-bars.html">Progress bars</a></li>
                                                <li><a href="tabs-accordions.html">Tabs & accordions</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <p>Blog</p>
                                            <ul>
                                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                                <li><a href="blog-2-columns.html">Blog 2 Columns</a></li>
                                                <li><a href="blog-3-columns.html">Blog 3 Columns</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <p>Pages 2</p>
                                            <ul>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="503.html">503</a></li>
                                                <li><a href="maintenance.html">Maintenance</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3">
                                            <p>Pages 3</p>
                                            <ul>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                <li><a href="comingsoon.html">Coming soon</a></li>
                                                <li><a href="sitemap.html">Sitemap</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
{% block Content %}
    {% endblock %}

    <!-- Page Footer-->
    <footer class="page-footer section-30 section-xs-15 bg-gray-lighter">
        <div class="container">
            <div class="row justify-content-sm-center align-items-sm-center">
                <div class="col-sm-7 text-sm-left">
                    <p>E-nutrition &#169; <span class="copyright-year"></span>. <a class="link-decoration-none text-hover-primary text-gray-light" href="privacy-policy.html">Privacy Policy</a></p>
                </div>
                <div class="col-sm-5 offset-top-10 offset-xs-top-0 text-sm-right">
                    <!-- List Inline-->
                    <ul class="list-inline list-inline-0">
                        <li class="text-center"><a class="icon icon-xxs icon-circle icon-white fa fa-tumblr-square" href="#"></a></li>
                        <li class="text-center"><a class="icon icon-xxs icon-circle icon-white fa fa-pinterest-p" href="#"></a></li>
                        <li class="text-center"><a class="icon icon-xxs icon-circle icon-white fa fa-soundcloud" href="#"></a></li>
                        <li class="text-center"><a class="icon icon-xxs icon-circle icon-white fa fa-vimeo-square" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Java script-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
<script src="{{ asset('front/js/core.min.js')}}"></script>
<script src="{{ asset('front/js/script.js')}}"></script>

<!--LIVEDEMO_00 -->

{% block footerscript %}
{% endblock %}
</body>
</html>