{% extends 'back/base.html.twig' %}

{% block Content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="content-body">
        <section id="number-tabs">
            <div class="row">
                <div class="col-12">
                    <div align="center" class="card">
                        <div class="card-content collapse show">
                            {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

                            <br>
                            <h1>Créer un nouveau défit</h1>
                            <br>
                            <div class="form-group col-10 mb-2">
                                <table class="form-wrap">
                                    <tr>
                                        <td>{{ form_label(form.titre, "Titre: ") }} </td>
                                        <td>{{ form_widget(form.titre, {'attr': {'style': 'width: 300px'} + {'class':'form-control'}}) }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form_label(form.description, "Description: ") }} </td>
                                        <td>{{ form_widget(form.description, {'attr': {'style': 'width: 300px'} + {'class':'form-control'}}) }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form_label(form.categorie, "Categorie: ") }}</td>
                                        <td>{{ form_widget(form.categorie, {'attr': {'style': 'width: 300px'} + {'class':'form-control'} } )  }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form_label(form.dateDebut, "Date de début de défi: ") }}</td>
                                        <td>{{ form_widget(form.dateDebut) }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form_label(form.dateFin, "Date de fin de défi: ") }}</td>
                                        <td>{{ form_widget(form.dateFin) }}</td>
                                    </tr>
                                </table>
                            </div>
                            <br>

                            {{ form_widget(form.Modifier, {'attr':{'class':'btn btn-primary'}}) }}

                            {{ form_errors(form.titre) }}
                            {{ form_errors(form.description) }}
                            {{ form_errors(form.categorie) }}
                            {{ form_errors(form.dateDebut) }}
                            {{ form_errors(form.dateFin) }}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
