
{% extends 'back/base.html.twig' %}
{% block Content %}
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<div class="app-content content">
    <div class="content-wrapper">

        <div class="content-body"><!-- Basic Tables start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">les Aliments</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>










                        <div class="card-content collapse show">

                            <div class="table-responsive">
                                <table class="table">

                                    <thead class="bg-primary white">

                                    <tr>
                                        <th>date</th>
                                        <th>E-mail </th>
                                        <th>User/Visitor(g/piece)</th>


                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr {% for f in success %} >
                                        <td> {{ f.post.dateCreation | date('d-m-Y') }}</td>
                                        <td> {{ f.post.titre }} </td>

                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <div style="text-align: center;">
                                                    {% if f.getnbrOFTimeUsed() > 0 %}
                                                        <a href="#"><button type="button" class="btn btn-primary" Disabled>supprimer</button> </a>
                                                    {% else %}
                                                        <a href="{{ path('supprimerAliment',{'id':f.id }) }}"><button type="button" class="btn btn-primary">supprimer</button></a>

                                                    {% endif %}
                                                    <span class="badge badge-primary badge-pill float-right">{{f.getnbrOFTimeUsed() }}</span>

                                                </div>
                                                <div style="text-align: center;">
                                                    <a href="{{ path('modifierAliment',{'id':f.id }) }}">  <button type="button" class="btn btn-success">modifier</button></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr {% endfor %}>
                                    <tr>
                                        <td><div style="text-align: left;">
                                                <a href="{{ path('ajouterAliment') }}">  <button type="button" class="btn btn-success">ajouter aliment</button></a></div>
                                        </td></tr>
                                    {{ knp_pagination_render(aliment) }}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>