{% extends 'back/base.html.twig' %}
{% block Content %}

    <br>
    <h1 align="center">Liste des secrétaires</h1>
    <br>

    <div class="app-content content">
    <div class="content-wrapper">

    <div class="content-body"><!-- Basic Tables start -->
    <div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                <li><a data-action="close"><i class="ft-x"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="card-content collapse show">

        <div class="table-responsive">
            <br>
            <br>
            <div class="col-11 mb-2">
                {% if  users%}
                    <table border="1" cellpadding="50" align="center" class="table">
                        <thead class="bg-primary white">
                            <tr>
                                <th>Id</th>
                                <th>E-Mail</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Ville</th>
                                <th>Sexe</th>
                                <th>Date Naissance</th>
                                <th>Numéro de téléphone</th>
                                <th>Roles</th>
                                <th colspan="3" style="text-align: center">Gestion</th>
                            </tr>
                        </thead>
                        <tr {% for u in users %}>
                            <td>{{ u.id }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.nom }}</td>
                            <td>{{ u.prenom }}</td>
                            <td>{{ u.ville }}</td>
                            <td>{{ u.sexe }}</td>
                            <td>{{ u.dateNaiss|date('d-m-Y') }}</td>
                            <td>{{ u.tel }}</td>
                            <td>
                                {% for role in u.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
                            <td><div class="btn-group"> <a href="{{ path('UpdateUser', {'id':u.id}) }}" ><button type="button" class="btn btn-primary">Modifier</button> </a></div></td>
                            <td><div class="btn-group"> <a href="{{ path('admin_DeleteUser', {'id':u.id}) }}" ><button type="button" class="btn btn-success">Supprimer</button></a></div></td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <td><div class="btn-group"> <a href="{{ path('admin_PromoteToAdmin', {'id':u.id}) }}" ><button type="button" class="btn btn-success">Promote to admin</button></a></div></td>
                                <td><div class="btn-group"> <a href="{{ path('admin_RemoveRoleAdmin', {'id':u.id}) }}" ><button type="button" class="btn btn-success">Remove Admin Role</button></a></div></td>
                            {% endif %}
                        </tr {% endfor %}>
                    </table>
                {% else %}
                    <div style="text-align: center">Aucun secrétaire trouvé</div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


{% endblock%}