{% extends 'back/base.html.twig' %}
{% block Content %}
    <br>
    <table border="1" cellpadding="50" align="center">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Sexe</th>
            <th>Date Naissance</th>
            <th>E-Mail</th>
            <th>Numéro de téléphone</th>
        </tr>
        <tr {% for u in users %}>
            <td>{{ u.id }}</td>
            <td>{{ u.nom }}</td>
            <td>{{ u.prenom }}</td>
            <td>{{ u.sexe }}</td>
            <td>{{ u.dateNaiss|date('d-m-Y') }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.tel }}</td>
            <td><a href="{{ path('DeleteUser', {'id':u.id}) }}" >Delete</a></td>
        </tr {% endfor %}>
    </table>
{% endblock%}