{% extends 'front/base.html.twig' %}

{% block Content %}

    <head>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>
        <link rel='stylesheet' id='wp-block-library-css'  href='https://gustos.w3.style/wp-includes/css/dist/block-library/style.min.css?ver=5.5.3' type='text/css' media='all' />
        <link rel='stylesheet' id='wc-block-vendors-style-css'  href='https://gustos.w3.style/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=3.1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='wc-block-style-css'  href='https://gustos.w3.style/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=3.1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='submit-feedback-main-css-css'  href='https://gustos.w3.style/wp-content/plugins/submit-feedback/assets/main.min.css?ver=0.1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-layout-css'  href='https://gustos.w3.style/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=4.5.2' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-smallscreen-css'  href='https://gustos.w3.style/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=4.5.2' type='text/css' media='only screen and (max-width: 768px)' />
        <link rel='stylesheet' id='woocommerce-general-css'  href='https://gustos.w3.style/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=4.5.2' type='text/css' media='all' />
        <style id='woocommerce-inline-inline-css' type='text/css'>
            .woocommerce form .form-row .required { visibility: visible; }
        </style>
        <link rel='stylesheet' id='zerowp-social-profiles-styles-css'  href='https://gustos.w3.style/wp-content/plugins/zerowp-social-profiles/assets/css/styles.css?ver=1.2.1' type='text/css' media='all' />
        <link rel='stylesheet' id='gustos-slim-select-css'  href='https://gustos.w3.style/wp-content/themes/gustos/assets//slim-select/slimselect.min.css?ver=1.26.0' type='text/css' media='all' />
        <link rel='stylesheet' id='ztip-css'  href='https://gustos.w3.style/wp-content/themes/gustos/assets/modules/ztip/ztip.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='accordionjs-css'  href='https://gustos.w3.style/wp-content/themes/gustos/assets/modules/accordionjs/accordion.css?ver=2.1.1' type='text/css' media='all' />
        <link rel='stylesheet' id='gustos-root-vars-css'  href='https://gustos.w3.style/wp-content/themes/gustos/assets/root.css?ver=2.10.7' type='text/css' media='all' />
        <link rel='stylesheet' id='gustos-stylesheet-css'  href='https://gustos.w3.style/wp-content/themes/gustos/style.min.css?ver=2.10.7' type='text/css' media='all' />
        <link rel='stylesheet' id='gustos-wp-override-css'  href='https://gustos.w3.style/wp-content/themes/gustos/wp.min.css?ver=2.10.7' type='text/css' media='all' />
        <link rel='stylesheet' id='font-awesome-css'  href='https://gustos.w3.style/wp-content/themes/gustos/assets/modules/font-awesome/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
        <link rel='stylesheet' id='gustos-font-awards-css'  href='https://gustos.w3.style/wp-content/themes/gustos/assets/font-awards/style.css?ver=2.10.7' type='text/css' media='all' />
        <link rel='stylesheet' id='heading-google-font-css'  href='//fonts.googleapis.com/css?family=Imprima&#038;ver=5.5.3' type='text/css' media='all' />
        <script type='text/javascript' src='https://gustos.w3.style/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
        <link rel="https://api.w.org/" href="https://gustos.w3.style/wp-json/" /><link rel="alternate" type="application/json" href="https://gustos.w3.style/wp-json/wp/v2/users/2" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://gustos.w3.style/xmlrpc.php?rsd" />
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://gustos.w3.style/wp-includes/wlwmanifest.xml" />
        <meta name="generator" content="WordPress 5.5.3" />
        <meta name="generator" content="WooCommerce 4.5.2" />
        <meta name="generator" content="Gustos 2.10.7" />
        <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
        <link rel="icon" href="https://gustos.w3.style/wp-content/uploads/2016/08/cropped-logo-32x32.png" sizes="32x32" />
        <link rel="icon" href="https://gustos.w3.style/wp-content/uploads/2016/08/cropped-logo-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon" href="https://gustos.w3.style/wp-content/uploads/2016/08/cropped-logo-180x180.png" />
        <meta name="msapplication-TileImage" content="https://gustos.w3.style/wp-content/uploads/2016/08/cropped-logo-270x270.png" />
        <style>:root{--color-accent: #706fd3;--color-accent-lighter: #8685fd;--color-accent-darker: #5958a8;--color-link: #706fd3;--width-layout: 1340px;--width-sidebar: 300px;--background-body: #eee;--background-body--full: #eee  repeat scroll;--background-body--size: auto;--font-family-body: Arial, "Helvetica Neue", Helvetica, sans-serif;--font-family-heading: "Imprima", Helvetica, Arial, sans-serif;--background-color-header: #2c2c54;--color-header-text: #fff;--color-header-link: #fff;--background-color-submenu: #2c2c54}</style>
    </head>
    <body class="archive author author-andrei author-2 theme-gustos woocommerce-no-js">
    <section id="rw-layout" class="rw-layout full-width-layout">


        <div class="rw-container rw-section">
            <div class="rw-inner clearfix">

                <!-- Main content -->
                <div class="rw-column rw-content">
<!-- Nom et prénom_______________________________________________________________________________________________________________________________________-->

                    <div class="rw-row page-title">
                        <div class="grid-container">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <h1>Nom et Prénom : {{ app.user.nom }} {{ app.user.prenom }}</h1>
                                {% endif %}
                        </div>
                    </div>
<!-- image_______________________________________________________________________________________________________________________________________-->
                    <div class="rw-row subtle">
                        <div class="grid-container">
                            <div class="grid desk-3">
                                <div class="profile-avatar">
                                        <img alt='' src=' {{ asset(app.user.imageprofileurl)}}' />
                                </div> <!-- .profile-avatar -->
                                <a href="{{ path('user_gallery',{'id':app.user.id }) }}">  <button type="button" class="btn btn-success">Gallery</button></a>

                                <a href="{{ path('user_UpdateUser',{'id':app.user.id }) }}">  <button type="button" class="btn btn-success">Modifier compte</button></a>
                            </div>

                            <div class="grid desk-9">
                                <div id="user-summary" class="profile-user-tab active">
                                    <div class="grid desk-6 alpha">
                                        <ul class="profile-rows">
                                            <li>
                                                <i class="the-icon fa fa-cutlery"></i>
                                                <span class="the-label">
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        <p><b>E-mail:</b> {{ app.user.email }}</p>
                                                    {% endif %}
                                                </span>

                                            <li>
                                                <i class="the-icon fa fa-history"></i>
                                                <span class="the-label">
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        <p><b>Tel:</b> {{ app.user.tel }}</p>
                                                    {% endif %}
                                                </span>
                                            </li>

                                            <li>
                                                <i class="the-icon fa fa-child"></i>
                                                <span class="the-label">
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        <p><b>Sexe:</b> {{ app.user.sexe }}</p>
                                                    {% endif %}
                                                </span>
                                            </li>

                                            <li>
                                                <i class="the-icon fa fa-eye"></i>
                                                <span class="the-label">
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        <p><b>Date de naissance:</b> {{ app.user.dateNaiss|date('d-m-Y') }}</p>
                                                    {% endif %}
                                                </span>
                                            </li>

                                            <li>
                                                <i class="the-icon fa fa-eye"></i>
                                                <span class="the-label">
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        <p><b>Ville:</b> {{ app.user.ville }}</p>
                                                    {% endif %}
                                                </span>
                                            </li>
                                            <li>
                                                <i class="the-icon fa fa-eye"></i>
                                                <span class="the-label">
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        <p><b>Adresse:</b> {{ app.user.adresse }}</p>
                                                    {% endif %}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                </div> <!-- #user-summary -->
                            </div>
                            <div class="clear"></div>

                        </div> <!-- .grid-container -->
                    </div> <!-- .rw-row -->
            </div> <!-- .rw-inner -->
            </div> <!-- .rw-container -->

            <div class="rw-row subtle border-bottom profile-main-menu-block">
                <div class="grid-container">
                    <div class="grid desk-12">
                        <div class="profile-main-menu">
                            <ul>
                                <li><a href="{{ path ('mesure_new') }}"><span class="title">mesures</span></a></li><li><a href="https://gustos.w3.style/author/andrei/?profile-summary=recipes"><span class="title">Recipes</span><span class="count">5</span></a></li><li><a href="https://gustos.w3.style/author/andrei/?profile-summary=favorites"><span class="title">Favorites</span><span class="count">0</span></a></li><li><a href="https://gustos.w3.style/author/andrei/?profile-summary=likes"><span class="title">Likes</span><span class="count">0</span></a></li><li class="active"><a href="https://gustos.w3.style/author/andrei/?profile-summary=comments"><span class="title">Comments</span><span class="count">9</span></a></li>                                        </ul>
                        </div>
                    </div>
                </div> <!-- .grid-container -->
            </div>


            <div class="rw-row profile-summary-tab">
                <div class="profile-comments-list">
                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/perfect-burger-recipe/">Perfect Burger Recipe</a>
										</span>
                                <span class="comment-date">30 November 2016, 13:36</span>
                            </div>
                            <div class="text">Excellent recipe. I always wanted to learn how to prepare ...</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/dutch-baby/">Dutch Baby</a>
										</span>
                                <span class="comment-date">29 August 2016, 17:15</span>
                            </div>
                            <div class="text">Missing some ingredients.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/magic-bars-2/">Magic Bars</a>
										</span>
                                <span class="comment-date">29 August 2016, 17:14</span>
                            </div>
                            <div class="text">Delicious. This recipe is one of my favorites. 4 stars from me. Not 5 because instructions are a bit confusing.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/simple-cheese-omelette/">Simple Cheese Omelette</a>
										</span>
                                <span class="comment-date">29 August 2016, 17:14</span>
                            </div>
                            <div class="text">Delicious. This recipe is one of my favorites. 4 stars from me. Not 5 because instructions are a bit confusing.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong>Andrei</strong>
											commented on                                            <a href="https://gustos.w3.style/recipes/pork-steak-with-mushrooms/">Pork Steak with Mushrooms</a>
										</span>
                                <span class="comment-date">29 August 2016, 17:12</span>
                            </div>
                            <div class="text">Delicious. This recipe is one of my favorites.5 stars from me.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong></strong>
											commented on                                            <a href="https://gustos.w3.style/2016/04/05/nothing-is-more-beautiful-than-the-loveliness-of-the-woods-before-sunrise/">Nothing is more beautiful than the loveliness of the woods before sunrise.</a>
										</span>
                                <span class="comment-date">19 August 2016, 22:28</span>
                            </div>
                            <div class="text">

                                Nec vero pietas adversus deos nec quanta iis gratia debeatur sine explicatione naturae intellegi potest.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong></strong>
											commented on                                            <a href="https://gustos.w3.style/2016/07/23/in-a-gentle-way-you-can-shake-the-world/">In a gentle way, you can shake the world.</a>
										</span>
                                <span class="comment-date">16 August 2016, 18:21</span>
                            </div>
                            <div class="text">Nam si beatus umquam fuisset, beatam vitam usque ad illum a Cyro extructum rogum pertulisset. Duo enim genera quae erant, fecit tria.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong></strong>
											commented on                                            <a href="https://gustos.w3.style/2016/02/28/what-makes-the-desert-beautiful-is-that-somewhere-it-hides-a-well/">What makes the desert beautiful is that somewhere it hides a well.</a>
										</span>
                                <span class="comment-date">21 July 2016, 07:56</span>
                            </div>
                            <div class="text">Ratio ista, quam defendis, praecepta, quae didicisti, quae probas, funditus evertunt amicitiam, quamvis eam Epicurus, ut facit, in caelum efferat laudibus. Refert tamen, quo modo.</div>
                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="comment clearfix">
                        <div class="comment-photo">
                            <a href="#"><img alt="" src="https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-50x50.jpg" class="avatar avatar-50 photo"></a>
                        </div>
                        <div class="comment-text">
                            <div class="comment-head clearfix">
										<span class="comment-title">
											<strong></strong>
											commented on                                            <a href="https://gustos.w3.style/2016/02/28/what-makes-the-desert-beautiful-is-that-somewhere-it-hides-a-well/">What makes the desert beautiful is that somewhere it hides a well.</a>
										</span>
                                <span class="comment-date">14 June 2016, 21:14</span>
                            </div>
                            <div class="text">Ergo opifex plus sibi proponet ad formarum quam civis excellens ad factorum pulchritudinem? Quod si ita est, sequitur id ipsum, quod te velle video, omnes semper beatos esse sapientes.</div>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="clear"></div>                        </div>

            <div id="rw-footer" class="rw-section rw-footer">
                <div class="rw-inner clearfix">

                    <a href="#rw-layout" class="footer-to-top" title="Go to top">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>

            </div>
        </div>
    </section><!-- .rw-layout -->


    <div class="smk-theme-login-block-back-shadow"></div><div class="smk-theme-login-block"><div class="smk-theme-login-block-type">
            <span class="type-login active">Log In</span><span class="type-register">Register</span><span class="type-recover">Lost Password</span>
        </div><div class="smk-theme-login-block-close"><i class="fa fa-close"></i></div><form class="smk-theme-login-form" method="post" action="https://gustos.w3.style/author/andrei/?pag=2"><div class="form-message-response"></div><div class="form-row fr-log-y fr-reg-y">
                <div class="form-label">Username</div>
                <input type="text" name="username" class="fullwidth" />
            </div><div class="form-row fr-log-y fr-reg-y">
                <div class="form-label">Password</div>
                <input type="password" name="password" class="fullwidth" />
            </div><div class="form-row fr-log-y">
                <label><input type="checkbox" name="remember" value="forever" checked="checked" /> Remember me</label>
            </div><div class="form-row fr-reg-y">
                <div class="form-label">Confirm Password</div>
                <input type="password" name="confirm_password" class="fullwidth" />
            </div><div class="form-row fr-reg-y">
                <div class="form-label">Email</div>
                <input type="text" name="email" class="fullwidth" />
            </div><div class="form-row fr-reg-y">
                <label><input type="checkbox" name="terms" value="1" checked="checked" />I accept <a href="#">terms and conditions</a>.</label>
            </div><div class="form-row fr-rec-y">
                <div class="form-label">Username or email</div>
                <input type="text" name="username_or_email" class="fullwidth" />
            </div><div><input type="submit" name="submit" class="button primary smk-theme-login-form-button" value="Submit" /></div><input type="hidden" name="formtype" class="smk-login-form-type" value="log" /></form></div><div class="smk-theme-floating-search"><div class="smk-recipes-search clearfix"><form name="smk-recipes-search" method="get" action="https://gustos.w3.style/recipes/"><div class="smk-recipes-search-row search_"><div class="r-search-label">Search keyword</div><div class="r-search-field"><input type="text" name="search_" value="" class="smk-field smk-field-search_ fullwidth" placeholder="Keyword"></div></div><div class="smk-recipes-search-row category_ half"><div class="r-search-label">Category</div><div class="r-search-field"><select name="category_" class="smk-field smk-field-category_"><option value="" selected='selected'> - Any category - </option>	<option class="level-0" value="appetizer"> Appetizer</option>
                            <option class="level-0" value="breakfast"> Breakfast</option>
                            <option class="level-0" value="dessert"> Dessert</option>
                            <option class="level-0" value="dinner"> Dinner</option>
                            <option class="level-0" value="salad"> Salad</option>
                            <option class="level-0" value="side-dish"> Side Dish</option>
                            <option class="level-0" value="soup"> Soup</option>
                            <option class="level-0" value="stew"> Stew</option>
                        </select></div></div><div class="smk-recipes-search-row ingredient_ half"><div class="r-search-label">Ingredient</div><div class="r-search-field"><select name="ingredient_" class="smk-field smk-field-ingredient_"><option value="" selected='selected'> - Any ingredient - </option><option value="black-pepper">Black Pepper</option><option value="butter">Butter</option><option value="cayenne">Cayenne</option><option value="chopped-onion">Chopped Onion</option><option value="garlic">Garlic</option><option value="mushrooms">Mushrooms</option><option value="olive-oil">Olive Oil</option><option value="sugar">Sugar</option></select></div></div><div class="smk-recipes-search-row difficulty_ half"><div class="r-search-label">Difficulty</div><div class="r-search-field"><select name="difficulty_" class="smk-field smk-field-difficulty_"><option value="" selected='selected'> - Any difficulty - </option><option value="easy">Easy</option><option value="moderate">Moderate</option><option value="hard">Hard</option></select></div></div><div class="smk-recipes-search-row tags_"><div class="r-search-label">Prefered tags</div><div class="r-search-field"><input type="text" name="tags_" value="" class="smk-field smk-field-tags_ fullwidth"><div class="description">Enter one or more tags, separated by a comma(,)</div></div></div><div class="smk-recipes-search-row submitted_"><div class="r-search-label">Submitted</div><div class="r-search-field"><select name="submitted_" class="smk-field smk-field-submitted_"><option value="" selected='selected'> - Any date - </option><option value="last_year">In the last year</option><option value="last_6_months">In the last 6 months</option><option value="last_3_months">In the last 3 months</option><option value="last_month">In the last month</option><option value="last_week">In the last week</option><option value="last_day">In the last day</option></select></div></div><div class="smk-recipes-search-row other_settings"><div class="r-search-label">Other</div><div class="r-search-field"><label><input type="checkbox" name="only_with_photo_" value="1" class="smk-field smk-field-only_with_photo_" >Show recipes only with photo</label><label><input type="checkbox" name="only_featured_" value="1" class="smk-field smk-field-only_featured_" >Show only featured recipes</label><label><input type="checkbox" name="only_most_favorited_" value="1" class="smk-field smk-field-only_most_favorited_" >Show only most favorited recipes</label><label><input type="checkbox" name="only_most_liked_" value="1" class="smk-field smk-field-only_most_liked_" >Show only most liked recipes</label><label><input type="checkbox" name="only_most_viewed_" value="1" class="smk-field smk-field-only_most_viewed_" >Show only most viewed recipes</label></div></div><input type="hidden" name="per_page_" value="" style="display: none;"><input type="hidden" name="view" value="" style="display: none;"><div class="smk-recipes-search-row submittion_button"><div class="r-search-label">&nbsp;</div><div class="r-search-field"><button class="button primary">Search</button><a href="#" class="smk-theme-search-cancel">Cancel</a></div></div></form></div></div><div class="smk-recipe-search-overflow"></div>	<script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type='text/javascript' id='submit-feedback-main-js-js-extra'>
        /* <![CDATA[ */
        var sfMain = {"ajaxUrl":"https:\/\/gustos.w3.style\/wp-admin\/admin-ajax.php"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/plugins/submit-feedback/assets/main.min.js?ver=0.1.0' id='submit-feedback-main-js-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70' id='jquery-blockui-js'></script>
    <script type='text/javascript' id='wc-add-to-cart-js-extra'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/gustos.w3.style","is_cart":"","cart_redirect_after_add":"no"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=4.5.2' id='wc-add-to-cart-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4' id='js-cookie-js'></script>
    <script type='text/javascript' id='woocommerce-js-extra'>
        /* <![CDATA[ */
        var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=4.5.2' id='woocommerce-js'></script>
    <script type='text/javascript' id='wc-cart-fragments-js-extra'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_0d7ba2042107fe82172fe24e4dfb342c","fragment_name":"wc_fragments_0d7ba2042107fe82172fe24e4dfb342c","request_timeout":"5000"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=4.5.2' id='wc-cart-fragments-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets/js/smk-menu.js?ver=2.10.7' id='smk-menu-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets/js/rw-sidebar.js?ver=2.10.7' id='rw-sidebar-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets/js/smk-visual-select.js?ver=2.10.7' id='smk-visual-select-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets//slim-select/slimselect.min.js?ver=1.26.0' id='gustos-slim-select-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets/js/owl.carousel.js?ver=2.10.7' id='gustos-owl-carousel-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets/modules/jsuri/Uri.js?ver=1.3.1' id='jsuri-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets/modules/ztip/ztip.min.js?ver=1.0' id='ztip-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets/modules/accordionjs/accordion.min.js?ver=2.1.1' id='accordionjs-js'></script>
    <script type='text/javascript' id='gustos-scripts-js-extra'>
        /* <![CDATA[ */
        var themeAjax = {"ajax_url":"https:\/\/gustos.w3.style\/wp-admin\/admin-ajax.php","is_logged_in":"","includes_url":"https:\/\/gustos.w3.style\/wp-includes\/","msg100":"An unexpected error occurred.","msg101":"Please enter a message.","msg102":"Your message has been sent.","msg103":"Oops?!","login_msg100":"Oops?!","login_msg101":"Please enter the username","login_msg102":"Please enter the password","login_msg103":"Invalid username or password","login_msg104":"Success. Redirecting...","login_msg105":"Unknown error","login_msg106":"Please confirm the password","login_msg107":"Password does not match","login_msg108":"Please enter the email address","login_msg109":"Invalid email address","login_msg110":"Please enter the username or email","login_msg111":"Username already in use","login_msg112":"Email already in use","login_msg113":"You have successfully registered and logged in","login_msg114":"This email is not registered","login_msg115":"This username is not registered","login_msg116":"Please check your mail inbox","login_msg117":"Failed to send the recovery link","login_msg118":"You must accept terms and conditions.","login_msg119":"Please enter the the captcha form.","login_msg120":"Invalid captcha.","login_msg121":"Registration is disabled.","registration_redirect_url":"","login_redirect_url":"","demo_mode_submit":"Submission is disabled in demo mode.","submit_recipe":{"recipe_pending":"Your recipe has been submitted and is awaiting for moderation. An admin will review it and if all looks good it will be published as soon as possible.","view_your_recipe":"You can view your recipe here.","check_recipe_status":"You can check the recipe status here.","recipe_approved":"Your recipe has been submitted.","recipe_updated":"Your recipe has been updated.","your_recipe_id":"Your recipe ID is:","recipe_errors":"Validation errors occurred. Please confirm the fields and submit it again."},"confirm_recipe_delete":"Are you sure do you want to delete this recipe?","remove":"Remove","quick_search_more_chars":"Enter at least 2 characters.","following":"Following","follow":"Follow"};
        var smkUploadersSettingsJS = {"smk_user_frontend_custom_user_avatar":{"title":"Avatar","description":"","class":"","field_type":"","row_class":"desk-12 both","row_style":"","label:add_new":"Add new","atts":false,"multiple":false,"force_show":true,"extensions":["jpg","jpeg","gif","png"],"max_file_size":"1500kb","uploader_size":"thumbnail","unique_id":"smk_user_frontend_custom_user_avatar"},"smk_single_recipe_user_images":{"title":"","description":"","class":"","field_type":"","row_class":"desk-12 both","row_style":"","label:add_new":"Add new","atts":false,"multiple":true,"force_show":false,"extensions":["jpg","jpeg","gif","png"],"max_file_size":"1500kb","uploader_size":"small-rounded","unique_id":"smk_single_recipe_user_images"},"recipes_form_featured_image":{"title":"Featured Image","description":"Please select some photos of this recipe. Minimum image size is 400px","class":"","field_type":"","row_class":"desk-12 both","row_style":"","label:add_new":"Add new","atts":false,"multiple":true,"force_show":false,"extensions":["jpg","jpeg","gif","png"],"max_file_size":"1500kb","uploader_size":"thumbnail","unique_id":"recipes_form_featured_image"}};
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-content/themes/gustos/assets/js/scripts.js?ver=2.10.7' id='gustos-scripts-js'></script>
    <script type='text/javascript' src='https://gustos.w3.style/wp-includes/js/wp-embed.min.js?ver=5.5.3' id='wp-embed-js'></script>
    </body>

{% endblock %}