{% extends 'front/base.html.twig' %}

{% block Content %}

    <br>
    <h1 align="center">Rechercher votre Nutritionniste</h1>
    <br>

    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-content collapse show">
                                <div class="table-responsive">

                                    <form name="f">
                                        <div class="form-group col-10 mb-2">
                                            <input type="text" placeholder="Search" id="search" name="text_search" class="form-control" required><br>

                                        </div>
                                    </form>
                                    <br>
                                    <div id="result">

                                    </div>
                                    <div class="col-11 mb-2">
                                        <table border="1" border-collapse="50" align="center" class="table" id="t">
                                            <thead class="bg-primary white">
                                                <tr>
                                                    <th>E-mail</th>
                                                    <th>Nom</th>
                                                    <th>Prenom</th>
                                                    <th>Sexe</th>
                                                    <th>Numéro de téléphone</th>
                                                    <td>Afficher</td>
                                                </tr>
                                            </thead>
                                            <tbody id="all">
                                            <tr {% for d in doctors %} >

                                                <td> {{ d.email }}</td>
                                                <td> {{ d.nom }}</td>
                                                <td> {{ d.prenom }}</td>
                                                <td> {{ d.sexe }}</td>
                                                <td> {{ d.tel }}</td>
                                                <td><a href="{{ path('user_profileMedecin', {'id': d.id }) }}"><button type="button" class="btn btn-success"> afficher profil</button></a>
                                            </tr {% endfor %}>
                                            </tbody>
                                            <tbody id="search">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){

                console.log("hello1");
                var value = $(this).val();

                $.ajax({

                    url : "{{ path('user_searchAjax') }}",

                    type : 'GET',

                    data: {
                        'searchValue' : value
                    },

                    success : function(retour){
                        if(retour){
                            console.log("hello2");
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td> '+obj.email+' </td><td> '+obj.nom+' </td><td>'+obj.prenom+' </td><td>'+obj.sexe+'</td><td>'+obj.tel+' </td><td><a href="user/profileMedecin/'+obj.id+'"><button type="button" class="btn btn-success"> afficher profil</button></a></tr>');
                            });
                        }
                        else
                        {
                            $(`#t tbody#all`).show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>
{% endblock%}
