{% extends 'back/base.html.twig' %}

{% block Content %}

    <div align="center" >
        <br>
        <h1>Modifier Compte</h1>
        <br>
        <form name="form" action="{{ path('UpdateClass', {'id':id, 'name':name}) }}">
            <h2>name <input type="text" value="{{ name }}" name="classroom_name"></h2>

            <table class="form-wrap">
                <tr>
                    <td>E-Mail</td>
                    <td><input type="text" value="{{ name }}" name="classroom_name"></td>
                </tr>
                <tr>
                    <td>Nom:  </td>
                    <td><input type="submit" value="Update"></td>
                </tr>
                <tr>
                    <td>Prenom: </td>
                    <td><input type="text" value="{{ name }}" name="classroom_name"></td>
                </tr>
                <tr>
                    <td>Sexe: </td>
                    <td> <input type="text" value="{{ name }}" name="classroom_name"></td>
                </tr>
                <tr>
                    <td>Date de naissance: </td>
                    <td><input type="text" value="{{ name }}" name="classroom_name"></td>
                </tr>
                <tr>
                    <td>Numéro de téléphone</td>
                    <td><input type="text" value="{{ name }}" name="classroom_name"></td>
                </tr>
            </table>
        </form>
            {{ form_widget(form.Valider, {'attr':{'class':'btn btn-primary'}}) }}

            {{ form_errors(form.nom) }}
            {{ form_errors(form.prenom) }}
            {{ form_errors(form.sexe) }}
            {{ form_errors(form.dateNaiss) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.tel) }}
        {{ form_end(form) }}
    </div>
{% endblock%}