<!DOCTYPE html>

<title>Mesure index</title>

{% block body %}
    <h1>Mesure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Taille</th>
                <th>Poids</th>
                <th>DateMesure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mesure in mesures %}
            <tr>
                <td>{{ mesure.id }}</td>
                <td>{{ mesure.Taille }}</td>
                <td>{{ mesure.poids }}</td>
                <td>{{ mesure.dateMesure ? mesure.dateMesure|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('mesure_show', {'id': mesure.id}) }}">show</a>
                    <a href="{{ path('mesure_edit', {'id': mesure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mesure_new') }}">Create new</a>
{% endblock %}
