<!DOCTYPE html>

<title>Mesure</title>

{% block body %}
    <h1>Mesure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mesure.id }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ mesure.Taille }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ mesure.poids }}</td>
            </tr>
            <tr>
                <th>DateMesure</th>
                <td>{{ mesure.dateMesure ? mesure.dateMesure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mesure_index') }}">back to list</a>

    <a href="{{ path('mesure_edit', {'id': mesure.id}) }}">edit</a>

    {{ include('mesure/_delete_form.html.twig') }}
{% endblock %}
