
{% extends 'back/base.html.twig' %}
{% block Content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body"><!-- Basic Tables start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Les fiches consultations</h4>



                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <input id="myInput" class="form-control rounded" type="text" placeholder="Search.." >
                <div class="card-content collapse show">

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-primary white">
                            <tr>
                                <th>nom du patient</th>
                                <th>Date de création </th>
                                <th>Poids(m)</th>
                                <th>Taille</th>
                                <th>Description</th>
                                <th>Symptomes</th>
                                <th>Appétit</th>
                                <th> Imc(kg/m)</th>
                                <th> nbr</th>
                            </tr>
                            </thead>
                            <tbody  id="myTable">
                            <tr {% for f in ficheConsultation %} >

                                <td> {{ f.patient.nom }}</td>

                                <td> {{ f.CreationDate|date('y-m-d')}} </td>
                                <td>{{ f.poids }}</td>
                                <td>{{ f.taille }}</td>
                                <td>{{ f.description }}</td>
                                <td>{{ f.symptome }}</td>
                                <td>{{ f.apetit }}</td>
                                <td>{{ f.calculerImc }}</td>
                                <td>{{ f.getnbrOFTimeUsed }}</td>

                                <td> <a href="{{ path('afficherMedicament',{'id':f.id}) }}">Voir medicament</a></td>
                                <td> <a href="{{ path('deleteF',{'id':f.id}) }}">Delete</a></td>
                                <td> <a href="{{ path('updateF',{'id':f.id}) }}">Modifier</a></td>
                          </tr {% endfor %}{{ knp_pagination_render(ficheConsultation) }}>
                            </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


            </div>
        </div>








{% endblock %}


