
{% extends 'back/base.html.twig' %}
{% block Content %}


    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body"><!-- Basic Tables start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Les fiches consultations</h4>



                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <input id="search" class="form-control rounded" type="text" placeholder="Search.." >
                <div class="card-content collapse show">

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-primary white">
                            <tr>
                                <th>nom du patient</th>
                                <th>nom du nutritionniste</th>
                                <th>Date de création </th>
                                <th>Poids(kg)</th>
                                <th>Taille(m)</th>
                                <th>Description</th>
                                <th>Symptomes</th>
                                <th>Appétit</th>
                                <th> Imc(kg/m)</th>
                                <th>nombre fiches</th>
                            </tr>
                            </thead>
                            <tbody  id="myTable">


                            </tbody>
{#                            <tbody>#}
{#                            <tr {% for f in ficheConsultation %} >#}

{#                                <td> {{ f.patient.nom }}</td>#}
{#                                <td> {{ f.nutritionniste.nom }}</td>#}
{#                                <td> {{ f.CreationDate|date('y-m-d')}} </td>#}
{#                                <td>{{ f.poids }}</td>#}
{#                                <td>{{ f.taille }}</td>#}
{#                                <td>{{ f.description }}</td>#}
{#                                <td>{{ f.symptome }}</td>#}
{#                                <td>{{ f.apetit }}</td>#}
{#                                <td>{{ f.calculerImc }}</td>#}
{#                                <td>{{ f.getnbrOFTimeUsed }}</td>#}

{#                                <td> <a href="{{ path('afficherMedicament',{'id':f.id}) }}">Voir medicament</a></td>#}
{#                                <td> <a href="{{ path('deleteF',{'id':f.id}) }}">Delete</a></td>#}
{#                                <td> <a href="{{ path('updateF',{'id':f.id}) }}">Modifier</a></td>#}
{#                          </tr {% endfor %}#}
{#                                  {{ knp_pagination_render(ficheConsultation) }}>#}
{#                            </tbody>#}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


            </div>
        </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 0;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#myTable").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "POST",
                        url: "{{ path('SearchFiche') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same

                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'entities') {
                                            if (id !== 'error') {
                                                entitySelector.append(
                                                    '<tr><td>'+value[0]+'</td>' +
                                                    '<td>'+value[1]+'</td>'+
                                                    '<td>'+value[2]+'</td>'+
                                                    '<td>'+value[3]+'</td>'+
                                                    '<td>'+value[4]+'</td>'+
                                                    '<td>'+value[5]+'</td>'+
                                                    '<td>'+value[6]+'</td>'+
                                                    '<td>'+value[7]+'</td>'+
                                                    '<td>'+value[8]+'</td>'+
                                                    '<td>'+value[9]+'</td>'+
                                                    '<td><a href="afficherMedicament/'+id+'">Voir medicament</a></td>'+
                                                    '<td><a href="supprimerFicheConsultation/'+id+'">delete</a></td>'+
                                                    '<td><a href="updateFicheConsultation/'+id+'">modifier</a></td><tr>'
                                                );
                                            } else {
                                                entitySelector.append('<div class="errorLi">'+value+'</div>');
                                            }

                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;

            var minlength = 0;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#myTable").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "POST",
                    url: "{{ path('SearchFiche') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same

                        if (value===$(that).val()) {
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key === 'entities') {
                                        if (id !== 'error') {
                                            entitySelector.append(
                                                '<tr><td>'+value[0]+'</td>' +
                                                '<td>'+value[1]+'</td>'+
                                                '<td>'+value[2]+'</td>'+
                                                '<td>'+value[3]+'</td>'+
                                                '<td>'+value[4]+'</td>'+
                                                '<td>'+value[5]+'</td>'+
                                                '<td>'+value[6]+'</td>'+
                                                '<td>'+value[7]+'</td>'+
                                                '<td>'+value[8]+'</td>'+
                                                '<td>'+value[9]+'</td>'+
                                                '<td><a href="afficherMedicament/'+id+'">Voir medicament</a></td>'+
                                                '<td><a href="supprimerFicheConsultation/'+id+'">delete</a></td>'+
                                                '<td><a href="updateFicheConsultation/'+id+'">modifier</a></td><tr>'

                                            );

                                        } else {
                                            entitySelector.append('<div class="errorLi">'+value+'</div>');
                                        }

                                    }
                                });
                            });
                        }
                    }
                });
            }

        });
    </script>



{% endblock %}


