{% extends 'back/base.html.twig' %}
{% block Content %}



<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Circle Style</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Page</a>
                            </li>
                            <li class="breadcrumb-item active">Form Wizard Circle Steps
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12">
                <div class="btn-group float-md-right">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action</button>
                    <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i class="fa fa-calendar mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body"><!-- Form wizard with number tabs section start -->
            <section id="number-tabs">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form wizard with number tabs</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <!--  <form action="#" class="number-tab-steps wizard-circle"> -->
                                    {{ form_start ( form, {'attr' : {'class': 'number-tab-steps wizard-circle'} }) }}


                                        <!-- Step 1 -->
                                        <h6>Step 1</h6>
                                        <fieldset>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="meetingName1">Date de création :</label>
                                                        {{ form_widget(form.CreationDate, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="meetingLocation1">Poids :</label>
                                                        {{ form_widget(form.Poids, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="meetingLocation1">Taille :</label>
                                                        {{ form_widget(form.Taille, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="meetingLocation1">IMC:</label>
                                                        {{ form_widget(form.Imc, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="form-group col-12 mb-2">
                                                            <label for="firstName1">Symptomes:</label>
                                                            {{ form_widget(form.Symptome, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}

                                                        </div>
                                                        <div class="form-group col-12 mb-2">
                                                            <label for="firstName1">Apetit:</label>
                                                            {{ form_widget(form.Apetit, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                        </div>
                                                        <div class="form-group col-12 mb-2">
                                                            <label for="firstName1">Description :</label>
                                                            {{ form_widget(form.Description, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                        </div>
                                                    </div>
                                                </div>




                                            </div>
                                        </fieldset>





                                        <!-- Step 2 -->
                                        <h6>Step 2</h6>
                                        <fieldset>


                                            <div class="card-content collapse show">
                                                <div class="card-body">
                                                    <div class="repeater-default">
                                                        <div data-repeater-list="car">
                                                            <div data-repeater-item>
                                                                <form class="form row">
                                                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                                                        <label for="email-addr">Nom du médicament</label>
                                                                        <br>
                                                                        <input type="email" class="form-control" id="email-addr" placeholder="nom du médicament">
                                                                    </div>
                                                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                                                        <label for="pass">Quantité</label>
                                                                        <br>
                                                                        <input type="password" class="form-control" id="pass" placeholder="Quantité">
                                                                    </div>
                                                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                                                        <label for="email-addr">Durée</label>
                                                                        <br>
                                                                        <input type="email" class="form-control" id="email-addr" placeholder="Durée">
                                                                    </div>

                                                                    <div class="form-group col-sm-12 col-md-2 text-center mt-2">
                                                                        <button type="button" class="btn btn-danger" data-repeater-delete> <i class="ft-x"></i> Delete</button>
                                                                    </div>
                                                                </form>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        <div class="form-group overflow-hidden">
                                                            <div class="col-12">
                                                                <button data-repeater-create class="btn btn-primary">
                                                                    <i class="ft-plus"></i> Add
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </fieldset>
                                        {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>


    <!-- ////////////////////////////////////////////////////////////////////////////-->

    {% endblock %}


