{% extends 'back/base.html.twig' %}
{% block Content %}

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Circle Style</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Page</a>
                            </li>
                            <li class="breadcrumb-item active">Form Wizard Circle Steps
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12">
                <div class="btn-group float-md-right">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action</button>
                    <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i class="fa fa-calendar mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body"><!-- Form wizard with number tabs section start -->
            <section id="number-tabs">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form wizard with number tabs</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <!--  <form action="#" class="number-tab-steps wizard-circle"> -->
                                    {{ form_start ( form, {'attr' : {'class': 'number-tab-steps wizard-circle'} }) }}


                                        <!-- Step 1 -->
                                        <h6>Step 1</h6>
                                        <fieldset>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="meetingName1">Date de création :</label>
                                                        {{ form_widget(form.CreationDate, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="meetingLocation1">Poids :</label>
                                                        {{ form_widget(form.Poids, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="meetingLocation1">Taille :</label>
                                                        {{ form_widget(form.Taille, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="meetingLocation1">IMC:</label>
                                                        {{ form_widget(form.Imc, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="form-group col-12 mb-2">
                                                            <label for="firstName1">Symptomes:</label>
                                                            {{ form_widget(form.Symptome, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}

                                                        </div>
                                                        <div class="form-group col-12 mb-2">
                                                            <label for="firstName1">Apetit:</label>
                                                            {{ form_widget(form.Apetit, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                        </div>
                                                        <div class="form-group col-12 mb-2">
                                                            <label for="firstName1">Description :</label>
                                                            {{ form_widget(form.Description, { 'attr': {'class': 'form-control'} + {'type' : 'text'} }) }}
                                                        </div>
                                                    </div>
                                                </div>




                                            </div>
                                        </fieldset>





                                        <!-- Step 2 -->
                                        <h6>Step 2</h6>



                                            <fieldset>

                                                <ul id="mediacments"
                                                    data-prototype="{{ form_widget(form.medicaments.vars.prototype)|e }}"
                                                    data-widget-tags="{{ '<li></li>'|e }}"
                                                    data-widget-counter="{{ form.medicaments|length }}">
                                                    {% for medicament in form.medicaments %}
                                                        <li>

                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                                <button type="button"
                                                        class="btn btn-primary add-another-collection-widget"
                                                        data-list-selector="#mediacments">ajouter</button>

                                            </fieldset>




                                    {{ form_end(form) }}
                                    <script>
                                        jQuery(document).ready(function () {
                                            jQuery('.add-another-collection-widget').click(function (e) {
                                                var list = jQuery(jQuery(this).attr('data-list-selector'));
                                                // Try to find the counter of the list or use the length of the list
                                                var counter = list.data('widget-counter') || list.children().length;

                                                // grab the prototype template
                                                var newWidget = list.attr('data-prototype');
                                                // replace the "__name__" used in the id and name of the prototype
                                                // with a number that's unique to your emails
                                                // end name attribute looks like name="contact[emails][2]"
                                                newWidget = newWidget.replace(/__name__/g, counter);
                                                // Increase the counter
                                                counter++;
                                                // And store it, the length cannot be used if deleting widgets is allowed
                                                list.data('widget-counter', counter);

                                                // create a new list element and add it to the list
                                                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                                                newElem.appendTo(list);

                                                addTagFormDeleteLink($(newElem));



                                            });

                                        });

                                        function addTagFormDeleteLink($tagFormLi) {
                                            var $removeFormButton = $('<button type="button" class="btn btn-danger">enlever</button>');
                                            $tagFormLi.append($removeFormButton);

                                            $removeFormButton.on('click', function(e) {
                                                // remove the li for the tag form
                                                $tagFormLi.remove();
                                            });
                                        }

                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          </div>
        </div>
    </div>


    <!-- ////////////////////////////////////////////////////////////////////////////-->

    {% endblock %}


