{% extends 'back/base.html.twig' %}
{% block Content %}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Circle Style</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Acceuil</a>
                            </li>
                            <li class="breadcrumb-item active"><a href="#">Mesures</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12">
                <div class="btn-group float-md-right">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action
                    </button>
                    <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i
                                    class="fa fa-calendar mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i
                                    class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i
                                    class="fa fa-life-ring mr-1"></i> Support</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body"><!-- Form wizard with number tabs section start -->
            <section id="number-tabs">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!----------------------------------------------------->
                            <div class="card-content collapse show" style="height: 100%">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Patient</th>
                                                    <th scope="col">Taille</th>
                                                    <th scope="col">Poids</th>
                                                    <th scope="col">IMC</th>
                                                    <th scope="col">Date </th>
                                                    <th scope="col">Actions</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for mesure in mesures %}
                                                    <tr>
                                                        <td>{{ mesure.patient.nom }} {{  mesure.patient.prenom }}</td>
                                                        <td>{{ mesure.Taille }}</td>
                                                        <td>{{ mesure.poids }}</td>
                                                        <td>{{ mesure.calculerIMC() }}</td>
                                                        <td>{{ mesure.dateMesure | date('d-m-Y')}}</td>
                                                        <td style="text-align: center;">
                                                            <a class="btn btn-primary"
                                                               href="{{ url("mesure_edit", { 'id': mesure.id }) }}">
                                                                <i class="far fa-edit"></i></a>

                                                            <a class="btn btn-danger" onclick="return confirm('Voulez-vous supprimer cette publication?');"
                                                               href="{{ path('mesure_delete',{'id':mesure.id }) }}">
                                                                <i class="far fa-trash-alt"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----------------------------------------------------->
                        </div>
                    </div>
                </div>
            </section>
            <style>
                .container {
                    padding: 2rem 0rem;
                }

                h4 {
                    margin: 2rem 0rem 1rem;
                }

                .table-image {

                td, th {
                    vertical-align: middle;
                }

                }
            </style>
        </div>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////-->

    {% endblock %}


