{% extends 'front/base.html.twig' %}
{% block Content %}


   {{ form_start(form) }}
   <div align="center" >

      <br>

      <div class="col-sm-6 offset-top-10 inset-sm-left-7">
         <div class="form-wrap">
            <table class="form-wrap">
               <tr align="center" >
                  <td>{{ form_label(form.titre, "Titre") }} </td>
                  <td>{{ form_widget(form.titre, {'attr': {'style': 'width: 250px'}}) }}</td>
               </tr>
               <tr>
                  <td>{{ form_label(form.text, "Description") }}</td>
                  <td>{{ form_widget(form.text, {'attr': {'style': "margin-top: 0px; margin-bottom: 0px; height: 211px;"}+{'class': 'form-input'}+{'cols':'100'}})}}</td>
               </tr>


            </table>
         </div>

      </div>
      {{ form_label(form.tagSucess[0].contenuMultimedia.fileMultimedia, "image avant le regime") }}
      {{ form_widget(form.tagSucess[0].contenuMultimedia.fileMultimedia) }}
      {{ form_label(form.tagSucess[1].contenuMultimedia.fileMultimedia, "image apres le regime") }}
      {{ form_widget(form.tagSucess[1].contenuMultimedia.fileMultimedia) }}
      {{ form_label(form.tagSucess[2].contenuMultimedia.fileMultimedia, "video de motivation") }}
      {{ form_widget(form.tagSucess[2].contenuMultimedia.fileMultimedia) }}





      {{ form_widget(form.Ajouter) }}

   </div>
   {{ form_end(form) }}










{% endblock%}