{% extends 'front/baseforotherpage.html.twig' %}
{% block Content2 %}
<!--
// ===================================^__^=================================== //
   Content
// ===================================^__^=================================== //
-->

<div class="rw-section rw-container right-sidebar">
    <div class="rw-inner clearfix">

        <!-- Sidebar -->
        <div class="rw-column rw-sidebar">
            <div class="the-sidebar">
                <aside class="widget widget_search"><form method="get" class="search-form" action="https://gustos.w3.style/">
                        <input type="text" class="search-field fullwidth" name="s" placeholder="Type keyword and press enter" value="">
                    </form></aside><aside class="widget widget_recipes_list"><div class="widget-title"><h3>Recipes</h3></div><div class="widget-posts-list">		<!-- Entry -->
                        <div class="post">
                            <div class="entry-photo">
                                <img src="https://gustos.w3.style/wp-content/uploads/2016/08/foodiesfeed.com_crunchy-sunny-side-up-eggs-with-bacon-50x50.jpg" alt="" />			</div>
                            <div class="entry-title">
                                <a href="https://gustos.w3.style/recipes/simple-cheese-omelette/">Simple Cheese Omelette</a>
                            </div>
                            <div class="entry-controls minimal">


                                <a data-post="179" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-to-favorites&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Add to favorites&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-heart-o\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Remove from favorites&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-heart\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to add this post to favorites&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="favorite" data-l="0" title="Please log in to add this post to favorites" href="#" class="smk-mark-button control entry-to-favorites"><i class="fa fa-heart-o"></i></a>					<span class="control-tip">28</span>

                                <a data-post="179" data-settings="{&quot;tag&quot;:&quot;a&quot;,&quot;class&quot;:&quot;control entry-like&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Like&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-o-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Dislike&quot;,&quot;content_remove&quot;:&quot;&lt;i class=\&quot;fa fa-thumbs-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_format&quot;:&quot;%text%&quot;,&quot;title_not_logged&quot;:&quot;Please log in to like this post&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:&quot;next&quot;,&quot;echo&quot;:true,&quot;total_in_title&quot;:false}" data-act="like" data-l="0" title="Please log in to like this post" href="#" class="smk-mark-button control entry-like"><i class="fa fa-thumbs-o-up"></i></a>					<span class="control-tip">29</span>
                                <span class="control entry-comments" title="Comments"> <i class="fa fa-comments"></i> </span>
                                <span class="control-tip">15</span>


                            </div>
                        </div> <!-- .entry -->


                    </div></aside><aside class="widget widget_recipes_categories"><div class="widget-title"><h3>Categories</h3></div><ul class="widget-pretty-list"><li><a href="https://gustos.w3.style/recipe-category/appetizer/">Appetizer <span class="mark light-gray">5</span></a></li><li><a href="https://gustos.w3.style/recipe-category/breakfast/">Breakfast <span class="mark light-gray">4</span></a></li><li><a href="https://gustos.w3.style/recipe-category/dessert/">Dessert <span class="mark light-gray">2</span></a></li><li><a href="https://gustos.w3.style/recipe-category/dinner/">Dinner <span class="mark light-gray">5</span></a></li><li><a href="https://gustos.w3.style/recipe-category/salad/">Salad <span class="mark light-gray">3</span></a></li><li><a href="https://gustos.w3.style/recipe-category/side-dish/">Side Dish <span class="mark light-gray">4</span></a></li><li><a href="https://gustos.w3.style/recipe-category/soup/">Soup <span class="mark light-gray">6</span></a></li><li><a href="https://gustos.w3.style/recipe-category/stew/">Stew <span class="mark light-gray">4</span></a></li></ul></aside><aside class="widget widget_top_users"><div class="widget-title"><h3>Top users</h3></div>
                    <div class="w-user-card left">
                        <div class="w-avatar">
                            <a href="https://gustos.w3.style/author/briagr960/"><img alt='' src='https://secure.gravatar.com/avatar/055bbb879df685c87e4262bb56a65afc?s=200&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/055bbb879df685c87e4262bb56a65afc?s=400&#038;d=mm&#038;r=g 2x' class='avatar avatar-200 photo' height='200' width='200' loading='lazy'/></a>
                        </div>
                        <div class="w-in">
                            <div class="author-name"><a href="https://gustos.w3.style/author/briagr960/">Brian Green</a></div>
                            <div class="author-reputation">250</div>
                        </div>

                        <div class="w-follow"><a href="#" class="follow-user button primary not-allowed" data-theme="red"data-id="9" title="Please log in to follow this user.">
                                <i class="fa fa-plus"></i> <span class="text">Follow</span>
                            </a></div>
                    </div>

                    <div class="w-user-card right">
                        <div class="w-avatar">
                            <a href="blog_post_show"><img alt='' src='https://gustos.w3.style/wp-content/uploads/2021/01/partTimeDev-200x200.jpg' class='avatar avatar-200 photo' /></a>
                        </div>
                        <div class="w-in">
                            <div class="author-name"><a href="https://gustos.w3.style/author/andrei/">Andrei</a></div>
                            <div class="author-reputation">250</div>
                        </div>

                        <div class="w-follow"><a href="#" class="follow-user button primary not-allowed" data-theme="red"data-id="2" title="Please log in to follow this user.">
                                <i class="fa fa-plus"></i> <span class="text">Follow</span>
                            </a></div>
                    </div>
                    <div class="clear"></div>
                    <div class="w-user-card left">
                        <div class="w-avatar">
                            <a href="https://gustos.w3.style/author/markta356/"><img alt='' src='https://secure.gravatar.com/avatar/62a0ca8df36bf8a8e4a376abee8e341d?s=200&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/62a0ca8df36bf8a8e4a376abee8e341d?s=400&#038;d=mm&#038;r=g 2x' class='avatar avatar-200 photo' height='200' width='200' loading='lazy'/></a>
                        </div>
                        <div class="w-in">
                            <div class="author-name"><a href="https://gustos.w3.style/author/markta356/">Mark Taylor</a></div>
                            <div class="author-reputation">150</div>
                        </div>

                        <div class="w-follow"><a href="#" class="follow-user button primary not-allowed" data-theme="red"data-id="8" title="Please log in to follow this user.">
                                <i class="fa fa-plus"></i> <span class="text">Follow</span>
                            </a></div>
                    </div>

                    <div class="w-user-card right">
                        <div class="w-avatar">
                            <a href="https://gustos.w3.style/author/danial598/"><img alt='' src='https://secure.gravatar.com/avatar/9366ab1d405afcaabb1f50e8ef339fcd?s=200&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/9366ab1d405afcaabb1f50e8ef339fcd?s=400&#038;d=mm&#038;r=g 2x' class='avatar avatar-200 photo' height='200' width='200' loading='lazy'/></a>
                        </div>
                        <div class="w-in">
                            <div class="author-name"><a href="https://gustos.w3.style/author/danial598/">Daniel Allen</a></div>
                            <div class="author-reputation">100</div>
                        </div>

                        <div class="w-follow"><a href="#" class="follow-user button primary not-allowed" data-theme="red"data-id="6" title="Please log in to follow this user.">
                                <i class="fa fa-plus"></i> <span class="text">Follow</span>
                            </a></div>
                    </div>
                    <div class="clear"></div><div class="clear"></div></aside>	</div> <!-- .the-sidebar -->
        </div> <!-- .rw-sidebar -->
        <!-- Main content -->
        <div class="rw-column rw-content">

            <div class="rw-row page-title ">
                <h1>Blog</h1>
            </div>

            <div class="rw-row">

                <div class="blog-list">


                    <div class="clear"></div>
                    {%  for blog_post in blog_posts %}





                        <div id="post-71" class="post clearfix post-71 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-freedom">
                            <div class="entry-photo"><a href="https://gustos.w3.style/2016/08/09/the-best-way-out-is-always-through/">
                                    <img src="{{ asset( blog_post.getFirstImage() ) }}" alt="" />								</a></div>
                            <div class="entry-details">
                                <div class="entry-date">
                                    {{ blog_post.date.date|date("Y-m-d") }}
                                </div>
                                <div class="entry-title"><h2><a href="{{ path('blog_post_show',{'id':blog_post.id }) }}>{{  blog_post.title }}</a></h2></div>
                                <div class="entry-content">
                                    <p>{{ blog_post.body|length > 50 ? blog_post.body|slice(0, 50) ~ '...' : blog_post.body }}</p>
                                    <a href="{{ path('blog_post_show',{'id':blog_post.id }) }}">Read more &rarr;</a>									</div>
                            </div>
                        </div> <!-- .entry -->
                    {% endfor %}

                    <div class="clear"></div>
                </div> <!-- .blog-list -->

                <div class="blog-pagination-links">
                    <a href="https://gustos.w3.style/blog/page/2/" ><i class="the-icon to-left fa fa-chevron-left"></i> Older Posts</a>				</div>

            </div> <!-- .rw-row -->

        </div>

    </div> <!-- .rw-inner -->
</div> <!-- .rw-container -->

{% endblock %}
