{% extends 'front/baseforotherpage.html.twig' %}

{% block Content2 %}

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
        <main class="page-content">

            <section class="section-95">
                <div class="container">
                    <input type="text" id="search" class="search-field fullwidth" name="recherchealiment" placeholder="Type keyword and press enter" value="">


                    <div class="row justify-content-sm-center">
        <table id="t" class="table table-condensed table-responsive table-striped"><thead><tr><th>aliment</th><th>Quantite</th><th>categorie</th><th>Calories</th><th>lipides</th><th>proteines</th><th>glucides</th><th></th></tr></thead>
            <tbody id="all">
             {% for f in aliment %}


                 <tr><td>{{ f.nom}}</td>                                        <td>{{ f.poid }}
                     </td>
                     </td> <td>{{ f.categories}} </td><td>{{f.calories}}</td><td>{{ f.lipides}}</td><td>{{ f.proteines}}</td><td>{{ f.glucides}}</td><td>
                         <button onclick="myFunction({{ f.id }})" type="button" class="btn btn-default">ajouter</button>

                     </td></tr>

             {% endfor %}


             {{ knp_pagination_render(aliment) }}

            </tbody>
            <tbody id="search">
            </tbody>
            </table>


                        aliment manger aujourd'hui

                        <div id="itemslist" class="foodtablecalculator"><table class="table table-condensed table-responsive table-striped">        <table id="t" class="table table-condensed table-responsive table-striped"><thead><tr><th>aliment</th><th>Quantité</th><th>categorie</th><th>Calories</th><th>lipides</th><th>proteines</th><th>glucides</th><th></th></tr></thead>
                                    <tbody id="list-tbody"><tr id="iditemlist-0">
                                        {% for p in proportions %}
                                        <td>{{p.aliment.nom}}</td><td>{{ p.poid }}</td><td>{{ p.aliment.categories  }}</td><td>{{ p.calorie }}</td><td>{{ p.lipides }}</td><td>{{ p.proteines }}</td><td>{{ p.glucides }}</td><td>
                                            <a href="{{ path('supprimerproportionss',{'id':p.id }) }}"><button type="button" class="remove btn btn-default">supprimer</button></a>

                                        </td> </tr>
                                        {% endfor %}
                                    <tr></tr><tr><td></td><td></td><td><strong>total</strong></td><td><strong>{{ tc }}</strong></td><td ><strong>{{ tl }}</strong></td><td ><strong>{{ tp }}</strong></td><td><strong>{{ tg }}</strong></td></tr></tbody></table></table></div>
                    </div></div>
            </section>
        </main>

    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */



                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est
                    envoyée */
                    url : "{{ path('rechercheAliment') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la
                    zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le
                    nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            console.log(retour);

                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {

                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr>  <td> '+obj.nom+' </td> <td>'+obj.poid+'</td> <td> '+obj.categories+' </td> <td> '+obj.calories+' </td>  <td> '+obj.lipides+' </td>  <td> '+obj.proteines+' </td>  <td> '+obj.glucides+' </td>  <td>  </td> <td>  <button onclick="myFunction('+obj.id+')" type="button" class="btn btn-default">ajouter</button>   </td> </tr> ');

                                {#$('#t tbody#search').append(' {{ form_start ( forms.for[+i+]) }}        <tr><td>' +obj.nom+'</td> <td>{{ form_widget(forms.for['+i+'].poid) }}</td>   </td> <td>' +obj.categorie+' </td><td>'+obj.calories+'</td><td>'+ obj.lipides+'</td><td>'+ obj.proteines+'</td><td>'+ obj.glucides+'</td><td>{{ form_widget(forms.for['+i+'].Ajouter, {'attr':{'class':'btn btn-primary'}}) }} </td></tr>   {{ form_end(forms.for['+i+']) }}'                    );#}
                        })}
                        else
                        {
                            $('#t tbody#foodtbody').show












                            ();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>

    <script>
        function myFunction(id) {
            var quantite = prompt("entre le quantité manger", "100");
            if (quantite != null) {
                window.location="/ajouterproportion/"+id+"/"+quantite ;
            }
        }
    </script>
{% endblock %}