{% extends 'back/base.html.twig' %}
{% block Content %}
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body"><!-- Basic Tables start -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Ordonance</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <input type="text" id="search" class="form-control rounded" placeholder="Search.." value="">

                            <div class="card-content collapse show">
                                <div class="table-responsive">
                                    <table class="table" id="t">
                                        <thead class="bg-primary white">
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom du médicament </th>
                                            <th>Quantité</th>
                                            <th>Durée de consommation</th>
                                            <th>id fiche consultation</th>
                                        </tr>
                                        </thead>
                                        <tbody id="all">
                                        <tr {% for m in medicament %} >

                                            <td> {{ m.id }}</td>
                                            <td>{{ m.nom }}</td>
                                            <td>{{ m.quantite}}</td>
                                            <td>{{ m.duree }}</td>
                                            <td>{{ m.fiche.id }}</td>

                                            <td> <a href="{{ path('deleteM',{'id':m.id}) }}">Delete</a></td>


                                        </tr {% endfor %}>
                                        </tbody>
                                        <tbody id="search"></tbody>
                                    </table>
                                    <div style="text-align: left;">
                                        <a href="{{  path('listeMedicament',{'id':fiche.getId()}) }}">  <button type="button" class="btn btn-success">imprimer</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- Basic Tables start -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Image</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">




                                    {% if fiche.TagFicheConsultation[0].isImage() %}
                                        <td>
                                            <img src="{{ asset( fiche.TagFicheConsultation[0].getUrl() )}}" alt="element 01" width="400" class="float-left">
                                        </td>
                                    {% endif %}




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */



                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est
                    envoyée */
                    url : "{{ path('Search_medicament',{'id':fiche.getId()}) }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la
                    zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le
                    nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            console.log(retour);

                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {

                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr> <td> '+obj.id+' </td> <td> '+obj.nom+' </td>  <td> '+obj.quantite+' </td> <td> '+obj.duree+' </td>  <td> '+obj.idfiche+' </td>   <td>    <a href="deleteM/'+obj.id+'"><button type="button" class="btn btn-primary">supprimer</button> </a>    </td> </tr> ');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}