{% extends 'front/baseforotherpage.html.twig' %}


{% block Content2 %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

    <div class="rw-row page-title" wfd-id="111">
        <div class="grid-container" wfd-id="112">
            <div class="grid desk-6 mob-6 alpha" wfd-id="115">
                    <h1> {{ challenge.titre}} </h1>
            </div>

            <div class="grid desk-6 mob-6 omega" wfd-id="113">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="#" ><button type="button" class="btn btn-success" >Participer au défi</button></a>
                {% else %}
                    <button type="button" class="btn btn-success" disabled>Participer au défi</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="rw-row subtle" wfd-id="68">
        <div class="grid-container" wfd-id="69">

            <div class="clear" wfd-id="106"></div>

            <div class="grid desk-3" wfd-id="104">
                <div class="profile-avatar" wfd-id="105">
                    <img alt='' src=' {{ asset(challenge.tagChallenge[0].getUrl()) }}' />


                </div> <!-- .profile-avatar -->
            </div>

            <div class="grid desk-9" wfd-id="71">

                <div id="user-summary" class="profile-user-tab active" wfd-id="73">
                    <div class="grid desk-6 alpha" wfd-id="90">
                        <ul class="profile-rows" wfd-id="91">

                            <li wfd-id="101">
                                <i class="the-icon fa fa-history"></i>
                                <span class="the-label" wfd-id="103">{{ challenge.titre}} </span>
                            </li>

                            <li wfd-id="98">
                                <i class="the-icon fa fa-child"></i>
                                <span class="the-label" wfd-id="100">{{ challenge.dateDebut|date('d-m-y')}} </span>
                            </li>

                            <li wfd-id="95">
                                <i class="fas fa-user-clock"></i>
                                <span class="the-label" wfd-id="97">{{ challenge.dateFin|date('d-m-y')}} </span>
                            </li>

                        </ul>
                    </div>

                    <div class="grid desk-6 omega" wfd-id="75">
                        <div class="following-block clearfix" wfd-id="77">
                            <div class="follow-col reputation" wfd-id="86">
                                <div class="follow-col-in" wfd-id="87">
                                    <span class="count" wfd-id="89">{{ challenge.participants|length}}<span class="title" wfd-id="88">Nombre de participant(s)</span> </span>
                                </div>
                            </div>


                        </div>

                        <div class="clear" wfd-id="76"></div>

                    </div>

                    <div class="clear" wfd-id="74"></div>
                </div> <!-- #user-summary -->

                <div id="user-send-pm" class="profile-user-tab" wfd-id="72">
                    <div class="tab-inner" wfd-id="178">
                        <div class="notification super-light orange" wfd-id="184"><a href="/author/elated-keller/?auth=login">Please login to send a message to Elated keller</a></div>			<form method="post" class="private-messaging-form" wfd-id="179">
                            <div class="form-label" wfd-id="183">
                                Send private message to Elated keller				</div>
                            <div class="form-description" wfd-id="182">Press Ctrl + Enter to send the message.</div>
                            <div class="response-message" wfd-id="181"></div>
                            <textarea name="message" class="private-messaging-textarea" wfd-id="172"></textarea>
                            <input type="hidden" name="sender" value="0" wfd-id="167">
                            <input type="hidden" name="receiver" value="1" wfd-id="166">
                            <input type="hidden" name="private_message" value="create" wfd-id="165">
                            <input type="hidden" id="_wpnonce" name="_wpnonce" value="e5d54a0768" wfd-id="164"><input type="hidden" name="_wp_http_referer" value="/author/elated-keller/" wfd-id="163">				<div class="private-messaging-footer clearfix" wfd-id="180">
                                <input class="button primary private-messaging-button" value="Send message" disabled="" type="submit" wfd-id="162">
                            </div>
                        </form>
                    </div>
                    <div class="clear" wfd-id="177"></div>
                </div> <!-- #user-send-pm -->
            </div>
            <div class="clear" wfd-id="70"></div>
            <div id="recipe-picture" class="entry-photo single-recipe-photo-cover">

                <ul class="entry-recipe-slider">
                    {% for tag in challenge.tagChallenge %}
                        {% if loop.index !=1 %}
                        {% if tag.isImage() %}
                            <li data-thumb="{{ asset( tag.getUrl() )}}"><img src="{{ asset( tag.getUrl() )}}" alt="" />  </li>

                        {% endif %}
                        {% if tag.isVideo() %}

                            <li data-thumb="{{ asset( tag.getthumbnail() )}}"><div class="entry-photo single-recipe-photo-cover">
                                    <iframe   width="1100" height="710" src="{{ path('affichervideo',{ 'url':tag.getName , 'extension':tag.getExtension }) }}" frameborder="0" allowfullscreen>
                                    </iframe></div></li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="recipe-tools">
                    {#                                <div data-post="185" data-settings="{&quot;tag&quot;:&quot;div&quot;,&quot;class&quot;:&quot;tool like smk_theme_tooltip&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Like&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;the-icon fa fa-thumbs-o-up\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Dislike&quot;,&quot;content_remove&quot;:&quot;&quot;,&quot;title_format&quot;:&quot;%text% (%count%)&quot;,&quot;title_not_logged&quot;:&quot;Please log in to like this post&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:false,&quot;echo&quot;:true}" data-act="like" data-l="0" title="Please log in to like this post" class="smk-mark-button tool like smk_theme_tooltip"><i class="the-icon fa fa-thumbs-o-up"></i></div><div data-post="185" data-settings="{&quot;tag&quot;:&quot;div&quot;,&quot;class&quot;:&quot;tool favorite smk_theme_tooltip&quot;,&quot;class_active&quot;:&quot;active&quot;,&quot;title&quot;:&quot;Add to favorites&quot;,&quot;content&quot;:&quot;&lt;i class=\&quot;the-icon fa fa-heart-o\&quot;&gt;&lt;\/i&gt;&quot;,&quot;title_remove&quot;:&quot;Remove from favorites&quot;,&quot;content_remove&quot;:&quot;&quot;,&quot;title_format&quot;:&quot;%text% (%count%)&quot;,&quot;title_not_logged&quot;:&quot;Please log in to add this post to favorites&quot;,&quot;attributes&quot;:[],&quot;modify_content&quot;:false,&quot;echo&quot;:true}" data-act="favorite" data-l="0" title="Please log in to add this post to favorites" class="smk-mark-button tool favorite smk_theme_tooltip"><i class="the-icon fa fa-heart-o"></i></div>                                                                                    <a href="/recipes/crevette-a-la-marseillaise/?print_recipe=1" rel="nofollow"#}
                    {#                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          class="tool print"#}
                    {#                             future print                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             title="Print (541)"><i class="the-icon fa fa-print"></i></a>#}
                </div>
            </div>

            {{ form_start(form)}}
            <ul id="fichier"
                data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}"

                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.tags|length }}" >

            </ul>


            <button type="button"
                    class="btn btn-primary add-another-collection-widget"
                    data-list-selector="#fichier">multimedia +</button>
            {{ form_row(form.Ajouter) }}

            {{ form_end(form) }}
        </div> <!-- .grid-container -->
    </div>


    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);


                addTagFormDeleteLink($(newElem));
                /*! selectize.js - v0.12.6 | https://github.com/selectize/selectize.js | Apache License (v2) */

                $('select').selectize();

            });

        });

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="btn btn-danger">enlever</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>

{% endblock%}