
{% extends 'back/base.html.twig' %}
{% block Content %}
    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body"><!-- Basic Tables start -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Les plates</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-primary white">
                                        <tr>
                                            <th>nom</th>
                                            <th>nbrportion(g)</th>
                                            <th>proteines</th>
                                            <th>glucides</th>
                                            <th>lipides</th>
                                            <th>(kcal) par portion</th>
                                            <th>durée preparation </th>
                                            <th>detail</th>

                                            <th>supprimer modifier </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr {% for f in plat %} >

                                            <td> {{ f.nom }}</td>
                                            <td>{{ f.nbrportion }}</td>
                                            <td>{{ f.proteines }}</td>
                                            <td>{{ f.glucides }}</td>
                                            <td>{{ f.lipides }}</td>
                                            <td>{{   f.calculerCalorieParPortion()  }}</td>
                                            <td>{{ f.tempdeprepartion()}}</td>


                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <div style="text-align: center;">
                                                        <a href="{{ path('afficherEtapeAliment',{'id':f.id }) }}"><button type="button" class="btn btn-primary">afficher</button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <div style="text-align: center;">
                                                        <a href="{{ path('supprimerPlat',{'id':f.id }) }}"><button type="button" class="btn btn-primary">supprimer</button>
                                                    </div>
                                                    <div style="text-align: center;">
                                                        <a href="{{ path('modifierPlat',{'id':f.id }) }}">  <button type="button" class="btn btn-success">modifier</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr {% endfor %}>
                                        <tr>
                                            <td><div style="text-align: left;">
                                                    <a href="{{ path('ajouterplat') }}">  <button type="button" class="btn btn-success">ajouter plat</button></td>
                                            </div></tr>
                                        {{ knp_pagination_render(plat) }}


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}