{% extends 'back/base.html.twig' %}
{% block Content %}




<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Circle Style</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Page</a>
                            </li>
                            <li class="breadcrumb-item active">Form Wizard Circle Steps
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12">
                <div class="btn-group float-md-right">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action</button>
                    <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i class="fa fa-calendar mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body"><!-- Form wizard with number tabs section start -->
            <section id="number-tabs">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>


                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <!--  <form action="#" class="number-tab-steps wizard-circle"> -->
                                    {{ form_start ( form, {'attr' : {'class': 'number-tab-steps wizard-circle'} }) }}

                                    <!-- Step 1 -->
                                    <h6>Step 1</h6>
                                    <fieldset>
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> ajoute plat </h4>
                                            <div class="row">
                                                <div class="form-group col-12 mb-2">
                                                    <label for="firstName1"> nom :</label>
                                                    {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} + {'type' : 'text'} + {'name':'ajouter'}  }) }}

                                                </div>
                                            </div>


                                                <div class="form-group ">
                                                    <label  for="timesheetinput7">description</label>
                                                        <div class="position-relative has-icon-left">
                                                            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} + {'type' : 'text'} + {'name':'ajouter'}+ {'rows': '8' } }) }}
                                                            <div class="form-control-position">
                                                                <i class="ft-file"></i>
                                                            </div>
                                                        </div>

                                                </div>
                                            <div class="repeater-default">
                                                <div data-repeater-list="car">
                                                    <div data-repeater-item>
                                                        <div class="row">
                                                            <div class="form-group col-12 mb-2">
                                                                <label for="firstName1">images(optionel)</label>
                                                                <br>
                                                                <label id="projectinput8" class="file center-block">
                                                                    <input type="file" id="file">
                                                                    <span class="file-custom"></span>
                                                                </label>
                                                                <button type="button" class="btn btn-danger" data-repeater-delete> <i class="ft-x"></i> Delete</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group overflow-hidden">
                                                    <div class="col-12">
                                                        <button data-repeater-create class="btn btn-primary">
                                                            <i class="ft-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                    <!-- Step 2 -->
                                    <h6>Step 2</h6>
                                    <fieldset>

                                        <div class="repeater-default">
                                            <div data-repeater-list="car">
                                                <div data-repeater-item>
                                                    <div class="row">
                                                        <div class="form-group col-12 mb-2">
                                                            <div class="row">


                                                                <div class="form-group col-8 mb-2">
                                                                    <h5>choisire aliment </h5>
                                                                    {{ form_widget(form.compostions , { 'attr': {'class': 'selectize-multiple'} + {'value' :  "
                                                                {{
                                                                {% for k in alimentss %}
                                                                {% if not  loop.first  %}
                                                                ,
                                                                {% endif %}
                                                                {{ k.nom }}
                                                                {% endfor %}
                                                                }} "
                                                                    } }) }}
                                                                </div>

                                                                <fieldset class="form-group">
                                                                    <h5>quantie(en gramme) </h5>
                                                                    <input type="number" class="form-control" id="number" value="43">
                                                                </fieldset>
                                                            </div>

                                                            <button type="button" class="btn btn-danger" data-repeater-delete> <i class="ft-x"></i> Delete</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group overflow-hidden">
                                                <div class="col-12">
                                                    <button data-repeater-create class="btn btn-primary">
                                                        <i class="ft-plus"></i> Add
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>


                                    <!-- Step 2 -->
                                    <h6>Step 3</h6>
                                    <fieldset>

                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i>   plat  etape de Preparations</h4>
                                            <div class="repeater-default">
                                                <div data-repeater-list="form">
                                                    <div data-repeater-item>
                                                        <div class="row">
                                                            <label  for="timesheetinput7">descirption etape Preparations:</label>
                                                            <div class="form-group col-12 mb-2">
                                                                {{ form_widget(form.etapeDePreparation, { 'attr': {'class': 'form-control'} + {'name' : 'description'} + {'placeholder':'description'}+ {'rows': '8' } }) }}

                                                                <textarea rows="5" class="form-control" name="description" placeholder="description"></textarea>
                                                            </div>
                                                            <label  for="timesheetinput7">durée en minute de l'etapes:</label>

                                                            <div class="form-group col-md-2 mb-2">
                                                                <input type="text" class="form-control" placeholder="durée en minute" name="durée">
                                                            </div>
                                                            <button type="button" class="btn btn-danger" data-repeater-delete> <i class="ft-x"></i> Delete</button>

                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="form-group overflow-hidden">
                                                    <div class="col-12">
                                                        <button data-repeater-create class="btn btn-primary">
                                                            <i class="ft-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>



                                    {{ form_end(form) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div class="form-group" dir="rtl">
        <h5>RTL Select field Selectize</h5>
        <p>Add <code>.selectize-rtl-select</code> class supports RTL to select </p>
        <select class="selectize-rtl-select">
            <option value="" selected>Select a person...</option>
            <option value="4">Thomas Edison</option>
            <option value="1">Nikola</option>
            <option value="3">Nikola Tesla</option>
            <option value="5">Arnold Schwarzenegger</option>
        </select>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////-->

    {% endblock %}


